html{
  scroll-behavior: smooth;
}

.homepage {
    text-align: center;
    background-image: url("./Images/home-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
}

.navbar{
  background-color: #FFFDE3;
}

.logo {
  width: 200px;
  margin-left: 10px;
}

.dropdown{
  margin-left: 50px;
  font-size: 25px;
}

.nav-link{
  color: blue !important;
  font-family: cursive;
}

.search {
  width: 400px;
  outline: none;
  border-radius: 5px;
  border-top: none;
  border-right: none;
  border-left: none;
  position: relative;
  height: 50px;
  padding-left: 20px;
}

input[type=search]:focus {
  border: 3px outset rgb(51, 0, 255);
}

.fa-search {
  position: absolute;
  right: 3%;
  width: 10px;
  height: 9px;
  color: transparent;
  text-align: center;
  top: 4.5%;
}

.right-navbar{
  font-family: cursive;
  font-size: large;
}

.show{
  display: block;
  transition: 80ms;
  opacity: 1;
}

.show.active{
  transform: translateY(100px) scale(0) rotateY(180deg);
  opacity: 0;
}

.aboutpage {
    text-align: center;
    background-image: url("./Images/pattern.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
}


.footer{
  background-color: #FFFDE3;
}

.footer-logo{
  width: 150px;
}

.copyright{
  font-size: 20px;
  font-weight: 600;
}

